.slider1_bg{
    background-image: url(./images/cover/cover-11.png);
}
.slider2_bg{
    background-image: url(./images/cover/cover-22.png);
}
.silder_btn{
    background-color: #289BDE;
}
.register{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
}
.register_body{
    padding-top: 60px;
    padding-bottom: 60px;
}
footer{
    background-color: black;
}
/************Media Query****************/
@media screen and (max-width: 768px) {
    .company{
        display: none;
    }
    .company_img img{
        margin-bottom: 20px;
    }
  }